@font-face{
  font-family: 'regular-font';
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face{
  font-family: 'primary-font';
  src: url(fonts/OpenSans-ExtraBold.ttf);
}
@font-face{
  font-family: 'secondary-font';
  src: url(fonts/OpenSans-ExtraBold.ttf);
}
@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin reflect-box {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
@mixin  blue-shadow-box {
  box-shadow: inset -5px -5px 7px #0c5189, 
              inset 5px 5px 7px #18adff;
}
@mixin  pink-shadow-box {
  box-shadow: inset -5px -5px 7px #a30044, 
              inset 5px 5px 7px #ff0090;
}
@mixin meridiem-box {
  box-shadow: inset -5px -5px 10px #c2c2c2, 
            inset 5px 5px 10px #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'regular-font';
}
body{
  @include flex-box;
  min-height: 100vh;
}

#clock h2{
  color: var(--color-font);
  position: relative;
  display: block;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.8em;
  font-family: 'primary-font';
}

#clock #time{
  display: flex;
}
#clock #time div{
  position: relative;
  margin: 0 5px;
  @include reflect-box();
}
#clock #time div span{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  background-color: #2196f3;
  color: #fff;
  font-size: 3em;
  font-family: 'regular-font';
  z-index: 10;
  @include blue-shadow-box();
}
#clock #time div span:nth-child(2){
  height: 30px;
  font-size: 0.7em;
  font-family: 'secondary-font';
  letter-spacing: 0.2em;
  z-index: 5;
  text-transform: uppercase;
  // background-color: #127fd6;
  // @include blue-shadow-box();
}
#clock #time div:nth-last-child(2) span{
  background-color: #ff006a;
  @include pink-shadow-box();
}
// #clock #time div:nth-last-child(2) span:nth-child(2){
//   background-color: #ec0062;
// }

#clock #time div:nth-last-child(1) span{
  position: absolute;
  width: 64px;
  height: 40px;
  bottom: 0;
  font-size: 1.5em;
  font-family: 'regular-font';
  background-color: #f2f2f2;
  color: #292922;
  @include reflect-box();
  @include meridiem-box();
}

:root{
  --color-background: #060a1f;
  --color-font: lightslategray;
}
body {
  background-color: var(--color-background);
  color: var(--color-font);
}
.day-mode{
  --color-background: white;
  --color-font: darkslategray;
}
.night-mode{
  --color-background: #060a1f;
  --color-font: lightslategray;
}